<div class="table-wrap">
    <table class="table table-bordered">
        <thead>
          <tr>
            <th (click)="sort('title')">Task</th>
            <th (click)="sort('completed')">Status</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let todo of todos" [ngClass]="{'completed': todo.completed}">
            <td>{{ todo.title }}</td>
            <td><img [src]="'/img/' + todo.completed + '.png'" alt=""></td>
          </tr>
        </tbody>
      </table>
</div>