.content {
    padding: 50px 10%;
}

.lead {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px 30px 10px;
    margin-bottom: 30px;
    border-bottom: solid 4px #000000;
}

h4 {
    font-size: 30px;
    margin: 0;
}

small {
    font-size: 18px;
    display: flex;
    margin-top: 10px;
    color: #ff0000;
}

img {
    width: 70px;
    transform: rotate(10deg);
    margin-left: 20px;
}

app-sortable-table {
    width: 100%;
}